.sale-grid {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 1280px;
  width: 100%;
}

.divul {
  margin-top: 120px;
  padding-inline: 80px;
  ul {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: start;
    align-items: center;
    li {
      a {
        color: #000;
        text-decoration: none;
        font-size: 18px;
      }
    }
  }
}
