.block7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background-color: #f5f5f5;

  .divh {
    h1 {
      color: #10545b;
      font-size: 36px;
      margin-top: 50px;
      margin-bottom: 80px;
      font-weight: 500;
    }
  }
  .divimg {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

    img {
      width: 305px;
      height: 420px;
      max-width: 100%;
      object-fit: cover;
      border-radius: 10px;
      transition: transform 0.3s ease;
    }
  }
}
