.dblock {
  display: flex;
  justify-content: space-between;
  margin: 100px 80px 100px 80px;
  align-items: end;

  .dimg {
    img {
      width: 460px;
    }
  }
  .dh1p {
    margin-left: 160px;
    color: #3d352d;

    h1 {
      font-family: "Manrope";
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      
    }
    p {
      font-weight: lighter;
      margin-top: 28px;
      font-size: 20px;
      font-family: sans-serif;
      line-height: 28px;  
    }
  }
}
