@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

@import "tailwindcss";

@theme {
  --color-teal-dark: #0B5158;
  --color-teal-light: #10545B;
}

* {
  font-family: Manrope;
}

body {
  background-color: #FFFCF9;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}